@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Varela+Round&display=swap');

.AddMemberPanel {
    height: 500px;
    width: 500px;
    background-color: #1E2226;
    position: absolute;
    z-index: 1;
    top: 15.2%;
    right: 25%;
    border-radius: 14px;
    border: 1px solid #0a66c2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    box-shadow: -8px 10px 8px 0 rgba(0, 0, 0, 0.2);
}
.AddMemberPanel div {
    margin: 6px;
    color: white;
    font-family: 'Afacad Flux';
}
.member-panel-cross {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -7px;
    right: -7px;
    border-radius: 0 14px 0 14px;
    background-color: #1E2226;
    border-top: 1px solid #0a66c2;
    border-right: 1px solid #0a66c2;
    border-left: none;
    border-bottom: none;
    font-family: 'Afacud Flux';
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.member-panel-cross:hover {
    background-color: red;
}
.profileImageContainer {
    display: flex;
    justify-content: center;
}
.input-member {
    height: 34px;
    width: 94%;
    margin-bottom: 20px;
    border: none;
    border-radius: 7px;
    background-color: #38434f;
    padding: 0 10px;
    color: white;
    position: relative;
}
.Description {
    height: 64px;
    width: 94%;
    resize: none;
    margin-bottom: 20px;
    border: none;
    border-radius: 7px;
    background-color: #38434f;
    padding: 10px;
    color: white;
    position: relative;
}
.submit-button {
    height: 40px;
    width: 70px;
}