.block {
    height: 194px;
    width: 164px;
    border: 1px solid #0a66c2;
    border-radius: 14px;
    padding: 12px;
    margin-right: 25.2px;
    margin-bottom: 25.2px;
    background-color: #1E2226;
    cursor: pointer;
    transition: border 0.3s ease, transform 0.2s ease;
}
.block:hover {
    border: 1px solid rgb(56, 67, 79);
    transform: scale(0.95);
}
.block:active {
    transform: scale(1.05);
}
.image {
    height: 30px;
    width: 90px;
    border: 1px solid red;
    border-radius: 100px;
    margin-bottom: 12px;
}
.insideBlock {
    height: 121px;
    width: 98%;
    border: 1px solid red;
    border-radius: 14px;
}