.panel {
    height: auto;
    width: 70%;
    background-color: #1E2226;
    border: 1px solid #38434f;
    border-radius: 14px;
    padding: 25.2px;
    margin: 15px;
}
.title {
    height: 10vh;
    width: 99.74%;
    border: 1px solid #0a66c2;
    border-radius: 14px;
    margin-bottom: 25.2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 30px;
    font-family: Calibri;
    cursor: pointer;
}
.title:hover {
    color: rgb(56, 67, 79);
    border-color:rgb(56, 67, 79);
}
.block {
    height: 194px;
    width: 164px;
    border: 1px solid #0a66c2;
    border-radius: 14px;
    padding: 12px;
    margin-right: 25.2px;
    margin-bottom: 25.2px;
    background-color: #1E2226;
    cursor: pointer;
    transition: border 0.3s ease, transform 0.2s ease;
}
.block:hover {
    border: 1px solid rgb(56, 67, 79);
    transform: scale(0.95);
}
.block:active {
    transform: scale(1.05);
}
.image {
    height: 30px;
    width: 90px;
    border: 1px solid red;
    border-radius: 100px;
    margin-bottom: 12px;
}
.insideBlock {
    height: 121px;
    width: 98%;
    border: 1px solid red;
    border-radius: 14px;
}